article {
  @extend [class*="span"];
  @extend .offset2;
  @extend .span8;

  header {
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom: 30px;

    h1 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: 300;

      // Resize title based on screen width
      font-size: $articleTitleSize;
      @media (max-width: 1199px){ font-size: $articleTitleSize - 0.35em; }
      @media (max-width: 979px) { font-size: $articleTitleSize - 0.75em; }
      @media (max-width: 767px) { font-size: $articleTitleSize - 0.50em; }
      @media (max-width: 480px) { font-size: $articleTitleSize - 0.75em; }
    }
  }

  section {
    &.lh1 { line-height: 1.00em; }
    &.lh2 { line-height: 1.25em; }
    &.lh3 { line-height: 1.50em; }
    &.lh4 { line-height: 1.75em; }
    &.lh5 { line-height: 2.00em; }

    &.fs1 { font-size: 1.00em; }
    &.fs2 { font-size: 1.15em; }
    &.fs3 { font-size: 1.30em; }
    &.fs4 { font-size: 1.45em; }
    &.fs5 { font-size: 1.60em; }

    font-family: 'Arvo', serif;
    @extend .fs3;
    @extend .lh3;
  }
}
