article {
  @extend [class*="span"];
  @extend .offset2;
  @extend .span8;

  header {
    margin-top: 20px;
    vertical-align: middle;
    margin-bottom: 30px;

    h1 {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: 300;

      // Resize title based on screen width
      font-size: $articleTitleSize;
      @media (max-width: 1199px){ font-size: $articleTitleSize - 0.35em; }
      @media (max-width: 979px) { font-size: $articleTitleSize - 0.75em; }
      @media (max-width: 767px) { font-size: $articleTitleSize - 0.50em; }
      @media (max-width: 480px) { font-size: $articleTitleSize - 0.75em; }
    }
  }

  section {
    font-family: 'Arvo', serif;
    font-size: 1.3em;
    line-height: 1.5em;
  }
}
