// bottom bar
#aside, #content-tools {
  @extend .visible-phone;
  margin-right: 0;
  margin-left: 0;
  position: fixed;

  .navbar-inner { text-align:center; }
  .nav {
    margin: 0;
    float: none;
    & > li {
      float: none;
      display: inline-block;
      vertical-align: top;
      &.divider-vertical {
        margin: 0 8px;
        @media screen and (orientation: landscape) { margin: 0 20px; }
      }
    }
    .dropdown-menu { text-align: left; }
  }

  // mobile buttons
  #wrap-code-button.disabled { opacity: 0.3; }
}

div#content-tools {
  top: -71px
}

aside {
  @extend .hidden-phone;

  #actionbar {
    @extend [class*="span"];
    @extend .span2;
    margin-top: 20px;

    // @media (min-width: 768px) { @extend .btn-small; }
    // @media (max-width: 767px) { @extend .btn-mini; }
  }
}
