// bottom bar
#aside {
  @extend .visible-phone;
  margin-right: 0;
  margin-left: 0;
  position: fixed;
}

aside {
  @extend .hidden-phone;

  #actionbar {
    @extend [class*="span"];
    @extend .span2;
    margin-top: 20px;

    // @media (min-width: 768px) { @extend .btn-small; }
    // @media (max-width: 767px) { @extend .btn-mini; }
  }
}
