html, body {
  min-height: 140%;
  overflow-x: hidden;
}

body {
  background: #FBFAF4;
  @media (max-width: 767px) { padding-bottom: 71px; }

  &.dark-mode {
    background: #171310;
    color: darken(#FBFAF4, 50%);

    #exit-full-screen-button i { @extend .icon-white; }
  }
}

#container {
  @extend .container;
}

#viewport {
  @extend .row;
}

#content {
  @extend [class*="span"];
  @extend .span10;
}

aside {
  @extend [class*="span"];
  @extend .span2;
}

body#article {
  aside,
  article header h1,
  article section p,
  article table.highlighttable,
  article .wrap-button,
  article div.highlight-wrapper {
    opacity: 0; // hide initially, fade in with js/css
  }
}

div#homescreen-instructions {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(#FBFAF4, 0.9);
  padding: 20px;
  font-family: 'Arvo', serif;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 300;

  h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
  }
  li {
    line-height: 1.3em;
    margin-top: 1em;
  }
}

#exit-full-screen-button {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
}
