html, body {
  min-height: 140%;
  overflow-x: hidden;
}

body {
  background: #FBFAF4;
  @media (max-width: 767px) { padding-bottom: 71px; }

  &.dark-mode {
    background: #171310;
    color: darken(#FBFAF4, 50%);
  }
}

#container {
  @extend .container;
}

#viewport {
  @extend .row;
}

#content {
  @extend [class*="span"];
  @extend .span10;
}

aside {
  @extend [class*="span"];
  @extend .span2;
}
