#aside.navbar.navbar-fixed-bottom.navbar-inverse
  .navbar-inner
    .container
      %ul.nav
        %li
          %a#back-button{ href: '/' }
            %i.icon-arrow-left.icon-white
        %li.divider-vertical
        %li
          %a#refresh-button{ href: "/#{request.path}" }
            %i.icon-refresh.icon-white
        %li.divider-vertical
        %li.dropdown
          %a#share-dropdown.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
            %i.icon-share.icon-white
          %ul.dropdown-menu.pull-right
            %li
              %a{ href: '#' } Twitter
            %li
              %a{ href: '#' } App.net
            %li
              %a{ href: '#' } Facebook
            %li
              %a{ href: '#' } Google+
        %li.divider-vertical
        %li.dropdown
          %a#read-later-dropdown.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
            %i.icon-time.icon-white
          %ul.dropdown-menu.pull-right
            %li
              %a{ href: '#' } Instapaper
            %li
              %a{ href: '#' } Readability
            %li
              %a{ href: '#' } Pocket
            %li
              %a{ href: '#' } Email
            %li
              %a{ href: '#' } Safari
        %li.divider-vertical
        %li
          %a#toggle-content-tools{ href: '#' }
            %i.icon-font.icon-white

#content-tools.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %ul.nav
        %li
          %a#dark-mode-button{ href: '#' }
            %i.icon-adjust.icon-white
        %li.divider-vertical
        %li
          %a#text-size-button{ href: '#' }
            %i.icon-zoom-in.icon-white
        %li.divider-vertical
        %li
          %a#line-height-button{ href: '#' }
            %i.icon-text-height.icon-white
        %li.divider-vertical
        %li.divider-vertical
